{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}
<div class="container-fluid mt-5">
 <div class="row justify-content-center">
  <div class="col-lg-4">
   <div class="card">
    <div class="card-body">
     <h4 class="text-center text-primary fw-bold text-uppercase mb-3">
      <b>
       Reset password 
      </b>
     </h4>

     <form action="" method="POST">
      {% csrf_token %}
      {% bootstrap_form_errors form %}
      {% bootstrap_form form %}
      <button class="btn btn-primary btn-block fw-bold" style="width: 100%;">Reset Password</button>
      <P class="text-center pt-3"><a class="btn btn-outline-primary d-block" href="{% url 'sign-in' %}">Back</a></P>
     </form>
    </div>
   </div>
  </div>
 </div>
</div>
{% endblock %}