{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}
<div class="container-fluid mt-5">
 <div class="row justify-content-center">
  <div class="col-lg-4">
   <div class="card">
    <div class="card-body">
     <h4 class="text-center text-primary fw-bold text-uppercase mb-3">
      <b>Login</b> | student
     </h4>
     <p class="text-center text-danger">Not a student? <a class="ms-1" href="{% url 'sign-in' %}">Staff</a></p>


     <form action="" method="POST">
      {% csrf_token %}
      {% bootstrap_form_errors form %}
      {% bootstrap_form form %}
      <div class="d-flex align-items-center">
       <button class="btn btn-primary fw-bold me-4">Login</button>
       <p class=" text-center pt-3">Forgotten password? <a class="text-danger" href="{% url 'password_reset' %}">Reset</a></p>
      </div>
      <P class="pt-1">
       Are you new? <a href="/sign-up/?next={{ request.GET.next }}"><b>Sign UP</b></a></P>
     </form>
    </div>
   </div>
  </div>
 </div>
</div>
{% endblock %}